// Page Fade
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

// Fade Up
.fade-up-enter,
.fade-up-leave-to {
    transform: translate(0px, 75px);
    opacity: 0;
}
.fade-up-enter-active,
.fade-up-leave-active {
    transition: transform 0.5s, opacity 0.5s;
    &.rsp-image-module {
        transition: transform 0.5s, opacity 0.5s;
    }
}
